<div>
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/extended-pdf-viewer">Extended Pdf Viewer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signature-pad-nad-pdf-viewer">Signature Pad</a>
          </li>
        </ul>
        <form>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">Search</span>
          </div>
        </form>
      </div>
    </div>
  </nav>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
