<h4>Signature</h4>
<canvas
  #canvas
  (touchstart)="startDrawing($event)"
  (touchmove)="moved($event)"
  width="700"
  height="200"
></canvas>
<p class="error-message" *ngIf="signatureNeeded">Signature is required!</p>

<div class="buttons flex justify-between">
  <button (click)="clearPad()">Clear</button>
  <button (click)="savePad()">Submit the signature</button>
</div>

<div *ngIf="signatureImg">
  <p>Signature in Base64Encoded Format</p>
  <img src="{{ signatureImg }}" alt="" srcset="" />
</div>


<div class="pdf-container">
  <pdf-viewer [src]="pdfSrc" (after-load-complete)="pdfLoaded($event)"
              [render-text]="true" style="display: block; width: auto; height: 500px;"></pdf-viewer>
</div>

<h4>PDF Viewer</h4>
<ngx-extended-pdf-viewer #pdfViewer [src]="pdfSrc" [contextMenuAllowed]="false"
                         [enablePrint]="false"
                         [showSidebarButton]="false"
                         [showOpenFileButton]="false"
                         [showSecondaryToolbarButton]="false"
                         height="80vh"></ngx-extended-pdf-viewer>

<!-- <button (click)="downloadPdf()">Download it</button> -->
